project/client/.DS_Store
.idea
project/client/.idea
project/client/cmake-build-debug
project/server/vendor
project/build-client-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
project/build-CCC_Cute_Cpp_Calendar-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
project/.idea
project/CCC_Cute_Cpp_Calendar/CMakeLists.txt.user